body {
    font-family: arial;
    background: #efdcae;
    text-align: center;
    color: #000;
    padding: 2 em;
}

header {
    background: #bfa882;
    padding: 4px 12px;
    border-radius: 10px;
}

footer {
    background: #bfa882;
    padding: 4px 4px;
    border-radius: 10px;
    color: #efdcae;
    font-size: 20px;
}

article {
    margin: 0 1.5em 0 12em;
}

.main nav {
    float: left;
    width: 14em;
    padding: 4px 14px;
    border-radius: 14px;
    background: #bfa882;
    margin: 14px 2px;
}

nav a:link {
    color: #000;
   
}

nav a:visited {
	color: grey;
}

nav a:hover {
    color: #efdcae;
}

nav a:active {
    color: #bfa882;
    background: #efdcae;
}

#box1 {
    padding: 0 40px;
    background: #efdcae;
}



.main #wrapper {
    background: #bfa882;
    margin: 0 auto;
    border: 0px #000;
    text-align: left;
}

.main header h1 {
    margin: 0;
    padding: 10px;
color: #efdcae;
}



.main nav h3, .main nav h4, .main nav p {
    margin-left: 1em;
    margin-right: 1em;
    color: #000;
}

.main footer h5 {
    margin: 0;
    color: #efdcae;
    padding: 10px 0;
    border-radius: 20px;
}

.clearfloat {
    clear: both;
    font-size: 1px;
    line-height: 0px;
}

input[type="submit"] {
    background-color: #efdcae;
    border: active;
    border-radius: 10px;
    color: black;
    padding: 6px 6px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 6px 6px;
    box-shadow: 2px 2px #bfa882;
}

tr {
text-align: center;
}

input[type="reset"] {
  background-color: #efdcae;
    border: active;
    border-radius: 10px;
    color: black;
    padding: 6px 6px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 6px 6px;
    box-shadow: 2px 2px #bfa882;
}

input[type="reset"]:active {
  background-color: #bfa882;
  box-shadow: 0 -2px #666;
  transform: translateY(4px);
  text-decoration: bold;
}

input[type="submit"]:active {
 background-color: #bfa882;
  box-shadow: 0 -2px #666;
  text-decoration: bold;

  transform: translateY(4px);
}

input[type="submit"]: hover {
  background-color: #bfa882;
}

input[type="reset"]:hover {
  background-color: #bfa882;
}


input[type="text"]:hover {
  background-color: #bfa882;
}

input[type="text"] {
 	
    border: active;
    border-radius: 12px;
    align: center;
    padding: 0px 0px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 4px 4px;
    box-shadow: 2px 2px #bfa882;
float: center !important;
}

h7 {
	//width: auto;	
	//margin-left: 2em;
   	//text-align: left;
	//background: #fff;
	//float: right !important;
	//clear: right;
	//padding-right: -22em;
	//display:block;
// 	margin: 4px 4px;

}
th {
text-align: center;
}

input[type="password"]{
    	border: active;
   	border-radius: 12px;
   	align: center;
    	padding: 0px 0px;
    	text-align: center;
   	text-decoration: bold;
    	font-size: 16px;
    	margin: 4px 4px;
    	box-shadow: 2px 2px #bfa882;
	float: center !important;
}

input[type="passord"]{

	text-align: center;
  border: active;
    border-radius: 12px;
    align: center;
    padding: 0px 0px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 4px 4px;
    box-shadow: 2px 2px #bfa882;
float: center !important;
}#table {
float: center;
}

input[type="klassekode"]{

	text-align: center;
  border: active;
    border-radius: 12px;
    align: center;
    padding: 0px 0px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 4px 4px;
    box-shadow: 2px 2px #bfa882;
float: center !important;
}#table {
float: center;
}

input[type="bildenr"]{

	text-align: center;
  border: active;
    border-radius: 12px;
    align: center;
    padding: 0px 0px;
    text-align: center;
    text-decoration: bold;
    font-size: 16px;
    margin: 4px 4px;
    box-shadow: 2px 2px #bfa882;
float: center !important;
}#table {
float: center;
}